{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="Firebase authetication">
    <meta name="keywords" content="firebase, django, auth, authentcation">
    <meta name="author" content="Shivam Yadav">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Firebase auth</title>
</head>

<body class="text-center">
    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}
    <!-- JavaScript Bundle with Popper.js -->
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
</body>

</html>